[
  {lager, [
    {log_root, "log"},
    %% Maximum size of the crash log in bytes, before its rotated, set
    %% to 0 to disable rotation - default is 0
    {crash_log_size, 104857600},

    {handlers, [
      {lager_console_backend, warning},
      {lager_file_backend, [
        {file, "error.log"},
        {level, error},
        {size, 104857600}
      ]},
      {lager_file_backend, [
        {file, "console.log"},
        {level, warning},
        {size, 104857600}
      ]}
     ]}
  ]}
].
