%%-*- mode: erlang -*-
{src_dir, "src" }.
{deps, [
	{ lager, ".*", { git, "https://github.com/erlang-lager/lager.git" , { tag, "3.5.1"}}},
	%{ jsxn, ".*", { git, "https://github.com/talentdeficit/jsxn.git", { tag, "v2.3.0" }}},
	{ cowboy, ".*", { git, "https://github.com/ninenines/cowboy.git", "1.1.2"}},
	{ epgsql, ".*", { git, "https://github.com/epgsql/epgsql.git", "3.1.1"}},
	{ poolboy, ".*", { git, "https://github.com/devinus/poolboy.git", "1.5.1"}}
%	{ observer_cli, ".*", { git, "https://github.com/zhongwencool/observer_cli.git", "1.4.2" }}
]}.
{erl_opts, [
	{parse_transform, lager_transform},
	no_debug_info,
	fail_on_warning
]}.
