%%-*- mode: erlang -*-
{src_dir, "src" }.
{deps, [
	{ gproc, ".*", { git, "https://github.com/uwiger/gproc.git", { branch, "master"}}},
	{ lager, ".*", { git, "https://github.com/erlang-lager/lager.git" , { tag, "3.4.1"}}},
	{ jsx, ".*", { git, "https://github.com/talentdeficit/jsx.git", { tag, "v2.9.0" }}},
	{ cowboy, ".*", { git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
	{ epgsql, ".*", { git, "https://github.com/epgsql/epgsql.git", { tag, "3.1.1"}}},
	{ poolboy, ".*", { git, "https://github.com/devinus/poolboy.git", { tag, "1.5.1"}}},
	{ egeoip, ".*", { git, "https://github.com/mochi/egeoip.git", { ref, "4efda2c2b5b0084d3e77b8f0bbdec78514706b34" }}},
	{ inet_cidr, ".*", { git, "https://github.com/benoitc/inet_cidr.git" , { tag, "1.0.2"}}},
	{ bucs, ".*", { git, "https://github.com/botsunit/bucs.git", { tag, "1.0.9" }}},
	{ observer_cli, ".*", { git, "https://github.com/zhongwencool/observer_cli.git", { branch, "master" }}}
%%	{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
	%%{ ebloom, ".*", { git, "https://github.com/basho/ebloom.git", { tag, "2.0.0" }}}
]}.

{relx, [
    {release, {lero, "0.5.0"}, [
        cmd_server
    ]},

    {sys_config, "./sys.config"},
    {vm_args,    "./vm.args"},

    {include_erts, false},
    {extended_start_script, true}]
}.

{erl_opts, [
	{parse_transform, lager_transform},
	no_debug_info,
	fail_on_warning
]}.

{shell, [
	{ apps, [ cmd_server ]}
]}.
