[
    {cmd_server, [
        { port, 8083 }, %% Порт на котором сидит HTTP-сервер
        { api_port, 8090 }, %% Порт API
        { auth_timeout, 86400 }, %% Таймаут авторизации после которого клиент считается оффлайн
        { db, [ %% Настройки базы данных
          { server, "localhost" },
          { port, 5440 },
          { user, "postgres" },
          { password, "1qazxsw2"},
          { database, "lero_6" },
          { connections, 10 } %% Количество соединений в пуле
        ]},
        { importance_cache_update_interval, 1800 }, %% Время обновления кеша importance-правил, секунды
        { commands_event_cache_update_interval, 1800}, %% Время обновления комманд для событий, секунды,
        { db_timeout, infinity } %% Таймаут для выполения запросов к БД.
    ]},                 
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 1073741824}, {date, "$D0"}, {count, 3}]}, %% 1Gb
            {lager_file_backend, [{file, "log/console.log"}, {level, info}, {size, 1073741824}, {date, "$D0"}, {count, 3}]},  %% 1Gb
            {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {size, 1073741824}, {date, "$D0"}, {count, 1}]} %% 1Gb
        ]},

        {crash_log, "log/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true},
        {error_logger_hwm, 5000},
        {async_threshold, 150},
        {async_threshold_window, 5}
    ]},

    {sasl, [{sasl_error_logger, false}]}
].
